extends layout

block content
  div 
    h1 Blogs
    form(action='/add', method='POST')
     p
      | create: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='/update', method='POST')
      | update:
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
  div
    ul 
      for txt in data
        li=txt.blog_id + "  -  " + txt.blog_txt