extends layout

block content
  div 
    h1 Blogs

  div#display
    ul 
      for txt in data
        li=txt.blog_id + "  -  " + txt.blog_txt

  div
    form(action='/add', method='POST')
     p
      | create: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='/update', method='POST')
      p
      | update:
      input(type='text', name='blog', value='')
      | to: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='delete' method='POST')
      p 
      | delete: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='/goto' method='GET')
      p 
      | goto:  
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='delete_all' method='POST')
      p 
      input(type='submit',value='Delete All')
    form(action='add_blog', method='POST')
      p 
      | add to blog:  
      input(type='text',name='blog',value='')
      | type here! 
      input(type='textfield',name='blog',value='')
      input(type='submit',value='Submit')
