extends layout

block content
  div 
    h1 Blogs
    form(action='/add', method='POST')
     p
      | title: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')

