extends layout

block content
  div 
    h1 Blogs
    form(action='/add', method='POST')
     p
      | create: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='/update', method='POST')
      p
      | update:
      input(type='text', name='blog', value='')
      | to: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='delete' method='POST')
      p 
      | delete: 
      input(type='text', name='blog', value='')
      input(type='submit', value='Submit')
    form(action='delete_all' method='POST')
      p 
      | delete all (yes, it deletes all):  
      input(type='submit',value='Submit')


  div
    ul 
      for txt in data
        li=txt.blog_id + "  -  " + txt.blog_txt